.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* @media (min-width: 768px){
  .container-password-form {
      width: 400px;
  }
} */


.loginbox {
  margin-top: 50px;
}

.pad-t-30 {
  padding: 30px 15px 15px 15px;
}

.display-none {
  display: none;
}

.line-through {
  text-decoration: line-through;
}

.display-true {
  display: inline;
}

.mar-b-25 {
  margin-bottom: 25px;
}

.mar-t-10 {
  margin-top: 10px;
}

.width-100 {
  width: 100px;
}

.text-justify {
  text-align: justify;
}

.mar-r-5 {
  margin-right: 5px;
}

td {
  text-align: justify;
}

td {
  vertical-align: super !important; 
}

a {
  cursor: pointer;
}

.error-border {
  border: 2px solid red !important;
  border-radius: 4px !important;
}